.account-details > dt, dd {
    border-bottom: 1px solid;
    margin: 0;
}

.account-details > dt::after {
    content: ":";
}

.transactions-table {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.9em;
}

.transactions-table th {
    white-space: nowrap;
}

.transactions-table td:has(span) {
    text-align: end;
}
