.account-details > dt,
dd {
  border-bottom: 1px solid;
  margin: 0;
}

.account-details > dt::after {
  content: ':';
}

.transactions-table {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.9em;
}

.transactions-table th, .analysis-table th {
  white-space: nowrap;
}

.transactions-table th:nth-child(2), .transactions-table td:nth-child(2) {
  text-align: end;
}

.analysis {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.analysis-table th, .analysis-table td {
  text-align: end;
}

.analysis-table th:nth-child(1), .analysis-table td:nth-child(1) {
  text-align: start;
}

.metrics-number {
  margin-bottom: 0;
  font-size: 200%;
}

.metrics-number .money-amount {
  font-size: 75% !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
