.navbar {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}

.navbar svg {
    margin-right: 0.3rem;
}

.navbar-brand {
    display: flex;
}

.navbar-brand span {
    font-size: 1.1em;
    line-height: 1.2;
    align-self: flex-end;
    white-space: pre-line;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.55);
}
