.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
}

.inside-nav {
  font-family: 'Lato', sans-serif;
}

@media (max-width: 475px) {
  #brand-container {
    margin-right: 0 !important;
  }
}

.navbar svg {
  margin-right: 0.3rem;
}

.navbar-brand span {
  font-size: 1.1em;
  line-height: 1.2;
  white-space: pre-line;
}

.nav-link {
  color: white;
}
