.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}

.inside-nav {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

@media (max-width: 475px) {
  #brand-container {
    margin-right: 0 !important;
  }

  #brand-logo {
    display: none;
  }
}

.navbar svg {
  margin-right: 0.3rem;
}

.navbar-brand span {
  font-size: 1.1em;
  line-height: 1.2;
  white-space: pre-line;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.55);
}
